.crew_main {
    /* background: url("/images/home/background-home-desktop.jpg") no-repeat center
      center fixed; */
    background: url("/images/crew/background-crew-desktop.jpg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: "Open Sans", "Courier New", Courier, monospace;
  }