@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background: white;
}


body::-webkit-scrollbar{
  display: none
}