.landing{
    background: url('/images/homepageBackground.webp') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.backdrop{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
}