/*HOMEPAGE BEGINS HERE*/
.home_main {
  /* background: url("/images/home/background-home-desktop.jpg") no-repeat center
    center fixed; */
  background: url("/images/home/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  font-family: "Open Sans", "Courier New", Courier, monospace;
}

