.navBar {
    box-shadow: 2px 5px 5px black;
}

.hamburger {
    width: 0px;
    height: 0px;
    /* border: 1px solid white; */
}

.line {
    width: 0%;
    height: 0px;
    background-color: white;
    transition: all ease 500ms;
}

.middleLine {
    width: 0%;
    height: 0px;
    background-color: white;
    transition: all ease 500ms;
}

#line1 {
    transform: rotate(45deg);
    transform-origin: left;
    transition: all ease 500ms;
}

#line2 {
    opacity: 0;
    transition: all ease 500ms;
    /* display: none; */
}

#line3 {
    transform: rotate(-45deg);
    transform-origin: left;
    transition: all ease 500ms;
}

@media only screen and (max-width: 821px) {
    .navBar {
        box-shadow: none;
    }

    .hamburger {
        width: 40px;
        height: 40px;
        /* border: 1px solid white; */
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: column;
        cursor: pointer;
        transition: all ease 500ms;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all ease 500ms;
    }

    .middleLine {
        width: 70%;
        height: 3px;
        background-color: white;
        transition: all ease 500ms;
    }

    #line1 {
        transform: rotate(45deg);
        transform-origin: left;
        transition: all ease 500ms;
    }

    #line2 {
        opacity: 0;
        transition: all ease 500ms;
        /* display: none; */
    }

    #line3 {
        transform: rotate(-45deg);
        transform-origin: left;
        transition: all ease 500ms;
    }
}