.planet_main {
    /* background: url("/images/home/background-home-desktop.jpg") no-repeat center
      center fixed; */
    background: url("/images/technology/background-technology-desktop.jpg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: "Open Sans", "Courier New", Courier, monospace;
}

.planet {
    animation: animate 20s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}